<h1>Results</h1>

        <% if @user_input %>
          <%=  "Congratulation, #{@word} is an English Valid Word" %>
       <% else %>
          <%=  "Sorry, #{@word} does not seem to be an English Valid Word" %>
       <% end %>
